<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav>
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a class="active" href="{% url 'products:deals' %}">Deals</a></li>
            <li><a class="active" href="{% url 'products:news' %}">News</a></li>
            <li><a class="active" href="{% url 'products:support' %}">Support</a></li>
        </ul>

    <form method="get" action="{% url 'products:product_search' %}">
            <input class="form-control me-2" type="search" placeholder="Search Products..." name="q" value="{{ query }}">
          </form>


            {% if user.is_authenticated %}
<ul>
    <li><a class="button" href="{% url 'products:new-product' %}">Add New Product</a></li>
    <li><a class="active" href="{% url 'products:account' %}">Account</a></li>
</ul>
    <form class="logout" action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
    <button type="submit">Log out</button>
          </form>
    {% else %}
<ul>
    <li><a class="button" href="{% url 'users:register' %}">Sign up</a></li>
    <li><a class="button" href="{% url 'users:login' %}">Sign In</a></li>
    {% endif %}
    </ul>
    </nav>

<h1>Supermarket Deals</h1>
</body>
</html>