<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav>
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a class="active" href="{% url 'products:deals' %}">Deals</a></li>
            <li><a class="active" href="{% url 'products:news' %}">News</a></li>
            <li><a class="active" href="{% url 'products:support' %}">Support</a></li>
        </ul>

    <form method="get" action="{% url 'products:deal_product_search' %}">
            <input class="form-control me-2" type="search" placeholder="Search Deals..." name="q" value="{{ query }}">
          </form>


            {% if user.is_authenticated %}
<ul>
    <li><a class="button" href="{% url 'products:new-deals' %}">Add New Deal</a></li>
    <li><a class="active" href="{% url 'products:account' %}">Account</a></li>
</ul>
    <form class="logout" action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
    <button type="submit">Log out</button>
          </form>
    {% else %}
<ul>
    <li><a class="button" href="{% url 'users:register' %}">Sign up</a></li>
    <li><a class="button" href="{% url 'users:login' %}">Sign In</a></li>
    {% endif %}
    </ul>
    </nav>

<div class="product-detail-box">
<div class="product-information">
    <div class="image-box">
<img class="product-image-detail" src="{{ deal.deal_image.url }}" alt="{{ deal.deal_product_name }} Image">
</div>
    <div class="product-text-box">
    <h1>{{ deal.deal_product_name }}</h1>
<p>Original Price: £{{ deal.deal_original_price }}</p>
        <p>Reduced Price: £{{ deal.deal_new_price }}</p>
<p>Stock: {{ deal.deal_stock }}</p>
<p>Points Per Purchase: {{ deal.deal_points }}</p>
<p>{{ deal.deal_description }}</p>
        <p>Category: {{ deal.deal_category }}</p>
</div>
    </div>
</div>
</body>
</html>