<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav>
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a class="active" href="{% url 'products:deals' %}">Deals</a></li>
            <li><a class="active" href="{% url 'products:news' %}">News</a></li>
            <li><a class="active" href="{% url 'products:support' %}">Support</a></li>
        </ul>

    <form method="get" action="{% url 'products:deal_product_search' %}">
            <input class="form-control me-2" type="search" placeholder="Search Deals..." name="q" value="{{ query }}">
          </form>


            {% if user.is_authenticated %}
<ul>
    {% if is_admin or is_employees %}

    <li><a class="button" href="{% url 'products:new-deals' %}">Add New Deal</a></li>
{% endif %}
    <li><a class="active" href="{% url 'users:account' %}">Account</a></li>
</ul>
    <form class="logout" action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
    <button type="submit">Log out</button>
          </form>
    {% else %}
<ul>
    <li><a class="button" href="{% url 'users:register' %}">Sign up</a></li>
    <li><a class="button" href="{% url 'users:login' %}">Sign In</a></li>
    {% endif %}
    </ul>
    </nav>

<div class="banner">
        <h1>Shop for the Latest Deals!</h1>
    </div>

<h1>Supermarket Deals</h1>

<div class="product-list">
        {% for deal in deals_list %}
            <div class="product-box">
                <h2>{{ deal.deal_product_name }}</h2>
                <div class="image-box">
<img class="product-image-detail" src="{{ deal.deal_image.url }}" alt="{{ deal.deal_name }} Image">
</div>
                <p>Category: {{ deal.deal_category }}</p>
                <p>Original Price: <del>£{{ deal.deal_original_price }}</del></p>
                <p>Reduced Price: £{{ deal.deal_new_price }}</p>
                <p>Stock: {{ deal.deal_stock }}</p>
                <p>Points Per Purchase: {{deal.deal_points}}</p>
                <button onclick="window.location='{% url 'products:deal_product_detail' deal.deal_product_name %}'" class="btn btn-primary">
    View Details
</button>
            </div>
        {% empty %}
            <p>No deals available at the moment.</p>
        {% endfor %}
    </div>

</body>
</html>