<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav>
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a class="active" href="{% url 'deals' %}">Deals</a></li>
            <li><a class="active" href="{% url 'news' %}">News</a></li>
            <li><a class="active" href="{% url 'account' %}">Account</a></li>
            <li><a class="active" href="{% url 'support' %}">Support</a></li>
        </ul>
    <form method="get" action="{% url 'product_search' %}">
            <input class="form-control me-2" type="search" placeholder="Search Products..." name="q" value="{{ query }}">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
    </nav>

<h1>Supermarket News</h1>
</body>
</html>