<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav>
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a class="active" href="{% url 'products:deals' %}">Deals</a></li>
            <li><a class="active" href="{% url 'products:news' %}">News</a></li>
            <li><a class="active" href="{% url 'products:support' %}">Support</a></li>
        </ul>

    <form method="get" action="{% url 'products:product_search' %}">
            <input class="form-control me-2" type="search" placeholder="Search Products..." name="q" value="{{ query }}">
          </form>


            {% if user.is_authenticated %}
<ul>
    {% if is_admin %}
    <li><a class="button" href="{% url 'products:new-news' %}">Create New News</a></li>
    {% endif %}
    <li><a class="active" href="{% url 'users:account' %}">Account</a></li>
</ul>
    <form class="logout" action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
    <button type="submit">Log out</button>
          </form>
    {% else %}
<ul>
    <li><a class="button" href="{% url 'users:register' %}">Sign up</a></li>
    <li><a class="button" href="{% url 'users:login' %}">Sign In</a></li>
    {% endif %}
    </ul>
    </nav>

<div class="banner">
        <h1>Welcome to Our Website!</h1>
    </div>


<h1>Supermarket News</h1>

<div class="news-container">
            {% for news in news_list %}
    <div class="news-box">
        <h2>{{ news.news_title }}</h2>
        <p>{{ news.news_body }}</p>
        <small>{{ news.news_date }}</small>
    </div>
{% empty %}
    <p>No news available at the moment.</p>
{% endfor %}
</div>

</body>
</html>